@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animated-gradient-bg {
    background: linear-gradient(
      -45deg,
      #ec4899,   /* Tailwind pink-500 */
      #db2777,   /* Tailwind pink-600 */
      #3b82f6,   /* Tailwind blue-500 */
      #10b981    /* Tailwind green-500 */
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .active-link::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ec4899; /* Tailwind pink-500 */
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll-left 25s linear infinite;
  will-change: transform;
}
